body {
    background-color: rgb(247, 241, 233);
    height: 80px;
    
}

.card {
    height: 350px;
    width: 250px;
    top: 20%;
    left: 50%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    cursor: pointer;
    user-select: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5%;
}

.card1 {
    left: 28%;
    background-image: url("1.png"); 
    
}

.card2 {
    left: 42%;
    background-image: url("2.png"); 
}

.card3 {
    left: 56%;
    background-image: url("3.png"); 
}

#slideUpText1 {
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
    transform: translateY(20px);
    text-align: center;
    font-size: 60px;
    color: rgb(138, 145, 145);
    font-family: Georgia, 'Times New Roman', Times, serif;
}



#slideUpText2 {
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
    transform: translateY(20px);
    text-align: center  ;
    font-size: 60px;
    color: rgb(138, 145, 145);
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    bottom:200px;

}

#slideUpText3 {
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
    transform: translateY(20px);
    text-align: center  ;
    font-size: 60px;
    color: rgb(138, 145, 145);
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    bottom:420px;
    
    
}

.box1, .box2 {
    display: inline-block;
    width: 400px;
    height: 200px;
    background-color: rgba(255, 0, 0, 0.5);
    margin: 20px;
    transition: opacity 0.5s, transform 0.5s;
    position: relative;
    top: 300px;
   


}

.box3, .box4 {
    display: inline-block;
    width: 400px;
    height: 200px;
    background-color: rgba(255, 0, 0, 0.5);
    margin: 20px;
    transition: opacity 0.5s, transform 0.5s;
    position: relative;
    top:350px;
   


}

.box5{

    display: inline-block;
    width: 400px;
    height: 200px;
    background-color: rgba(255, 0, 0, 0.5);
    margin: 20px;
    transition: opacity 0.5s, transform 0.5s;
    position: relative;
    top:350px;
   

}

.back {

border-radius: 10%;
    display: inline-block;
    width: 100px;
    height: 50px;
    background-color: rgba(178, 236, 236, 0.5);
    transition: opacity 0.5s, transform 0.5s;
    position: absolute;
    top: 180%;
    right: 48%;
    
  

}


.hide {
    opacity: 0;
    transform: translateY(20px);
    display: none;
}
.unclickable {
    pointer-events: none;
}

.box1{

    background-image: url("4.png"); 
    background-size: cover; /* Ensures the background image covers the entire box */
    background-position: center; /* Centers the background image within the box */
}

.texting{

    font-size: 25px;

    width: 1200px;
    margin: auto;
    line-height: 45px;




}


.texting2{

    font-size: 25px;
    width: 1200px;
    margin: auto;
    line-height: 45px;
    




}
